@import "tailwindcss";

:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color-scheme: light dark;
  color: black;
  --primary: #004080; 
  --secondary: #caf0f8;
  --heading: #004080;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Lower the z-index of Leaflet container and its elements */
.leaflet-container {
  z-index: 0 !important;
}

.leaflet-pane,
.leaflet-top,
.leaflet-bottom,
.leaflet-tile-pane,
.leaflet-map-pane {
  z-index: 0 !important;
}
